@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}
:root{
    --heading-text: 'Roboto Condensed', sans-serif;
    --paragraph-text: 'Roboto', sans-serif;
}
/***************** basic *****************/
body{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
body li{
    list-style: none;
}
body h1{
    font-weight: 600;
    letter-spacing: 0;
    font-size: 45px;
    font-family: var(--heading-text);
}
body h3{
    font-weight: 600;
    letter-spacing: 0;
    font-size: 25px;
    font-family: var(--heading-text);
}
body a{
    text-decoration: none;
    font-family: var(--paragraph-text);
}
body p{
    letter-spacing: .5px;
    font-family: var(--paragraph-text);
}
img{
    width: 100%;
    height: 100%;
}
.container{
    padding: 70px 100px;
}
.section-header{
    margin-bottom: 50px;
}
.section-header p{
    margin-top: 20px;
}
/* main */
main{
    display: flex;
    margin: 40px;
}
.main{
    display: inline-block;
    width: 70%;
    border-left: 2px solid black;
    border-bottom: 25px solid black;
    border-right: 2px solid black;
}
.main section{
    margin-bottom: 20px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 44, 44);
    padding: 10px;
    color: #fff;
}
.main-header p{
    font-size: 15px;
}
.main-data{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    background-color: #ffff00;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-data h1{
    text-align: center;
    font-size: 100px;
}
.main-subdata article{
    display: flex;
    justify-content: end;
    text-align: center;
}
.main-subdata article div{
    padding: 10px;
    border: 1px solid black;
}
.main-subdata article div p{
    font-size: 15px;
}
.st-div{
    width: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate-p{
    transform: rotate(270deg);
    padding: 10px;
    font-size: 14px;
}
/* sidebar */
.side-bar{
    width: 30%;
    border-right: 2px solid black;
    border-bottom: 25px solid black;
}
.side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: #fff;
}
.side-header a{
    padding: 15px 30px;
    background-color: rgb(190, 190, 190);
    color: black;
    font-size: 15px;
}
.side-header a i{
    padding-left: 5px;
    font-size: 13px;
}
.side-header div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 10px;
}
.side-header p{
    font-size: 14px;
}
.side-header p span{
    font-size: 16px;
    padding-left: 5px;
}
.sidebar-content{
    margin-bottom: 30px;
}
.sidebar-content-header{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 20px 0 0 30px;
    color: #fff;
}
.sidebar-content-header p{
    border-right: 1px solid Black;
    padding-right: 10px;
    padding-left: 10px;
}
.sidebar-content-bottom{
    background-color: #ffff00;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 0 0 0 30px;
    color: black;
}
.sidebar-content-bottom p{
    border-right: 1px solid Black;
    padding-right: 10px;
    padding-left: 10px;
}
@media screen and (orientation: landscape) {
    /* CSS applied when the device is in landscape mode */
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all ease-in-out .3s;
}
:root{
    --heading-text: 'Roboto Condensed', sans-serif;
    --paragraph-text: 'Roboto', sans-serif;
}
/***************** basic *****************/
body{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
body li{
    list-style: none;
}
body h1{
    font-weight: 600;
    letter-spacing: 0;
    font-size: 45px;
    font-family: var(--heading-text);
}
body h3{
    font-weight: 600;
    letter-spacing: 0;
    font-size: 25px;
    font-family: var(--heading-text);
}
body a{
    text-decoration: none;
    font-family: var(--paragraph-text);
}
body p{
    letter-spacing: .5px;
    font-family: var(--paragraph-text);
}
img{
    width: 100%;
    height: 100%;
}
.container{
    padding: 70px 100px;
}
.section-header{
    margin-bottom: 50px;
}
.section-header p{
    margin-top: 20px;
}
/* main */
main{
    display: flex;
    margin: 40px;
}
.main{
    display: inline-block;
    width: 70%;
    border-left: 2px solid black;
    border-bottom: 25px solid black;
    border-right: 2px solid black;
}
.main section{
    margin-bottom: 20px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 44, 44);
    padding: 10px;
    color: #fff;
}
.main-header p{
    font-size: 15px;
}
.main-data{
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: space-between;
    background-color: #ffff00;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-data h1{
    text-align: center;
    font-size: 100px;
}
.main-subdata article{
    display: flex;
    justify-content: end;
    text-align: center;
}
.main-subdata article div{
    padding: 10px;
    border: 1px solid black;
}
.main-subdata article div p{
    font-size: 15px;
}
.st-div{
    width: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate-p{
    transform: rotate(270deg);
    padding: 10px;
    font-size: 14px;
}
/* sidebar */
.side-bar{
    width: 30%;
    border-right: 2px solid black;
    border-bottom: 25px solid black;
}
.side-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: #fff;
}
.side-header a{
    padding: 15px 30px;
    background-color: rgb(190, 190, 190);
    color: black;
    font-size: 15px;
}
.side-header a i{
    padding-left: 5px;
    font-size: 13px;
}
.side-header div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 10px;
}
.side-header p{
    font-size: 14px;
}
.side-header p span{
    font-size: 16px;
    padding-left: 5px;
}
.sidebar-content{
    margin-bottom: 30px;
}
.sidebar-content-header{
    background-color: grey;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 20px 0 0 30px;
    color: #fff;
}
.sidebar-content-header p{
    border-right: 1px solid Black;
    padding-right: 10px;
    padding-left: 10px;
}
.sidebar-content-bottom{
    background-color: #ffff00;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    margin: 0 0 0 30px;
    color: black;
}
.sidebar-content-bottom p{
    border-right: 1px solid Black;
    padding-right: 10px;
    padding-left: 10px;
}
  }
/* media quires */
@media (max-width: 999px) {
    main{
        margin: 40px 10px;
    }
    .sidebar-content-header {
        padding: 10px 10px;
        margin: 10px 0 0 10px;
    }
    .sidebar-content-bottom {
        padding: 10px 10px;
        margin: 0 0 0 10px;
    }
    .side-header a {
        padding: 10px 20px;
        font-size: 13px;
    }
    .side-header p {
        font-size: 12px;
    }
    .side-header p span {
        font-size: 14px;
        padding-left: 5px;
    }
}
